*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;


    
    
}
.container{
    background-color: blueviolet;
    padding: 2rem;
    
}
form{
    display: flex;
    flex-direction: column;
}
form div{
    display: flex;
}
form input{
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    box-sizing: border-box;
    font-weight: 700;
    color: white;
    background-color: blue;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;

}
.afficheur{
    flex: 1;
    justify-content: end;
    text-align: right;
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem 0.5rem;
    margin:1rem 0 ;
}
.egal{
    flex: 1;
    background-color: brown;
}
.operateur{
    color: brown;
}